/* Tippy Stuff */
@import '~tippy.js/dist/tippy.css';
@import '~tippy.js/themes/light.css';
@import '~tippy.js/animations/scale.css';

/* You can add global styles to this file, and also import other style files */
:root {
  --primary-color: #40c4ff;
  --accent-color: #ff4081;
  --warn-color: #f44336;
}

body {
  box-sizing: border-box;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  /*height: 100vh;
  max-height: 100vh;
  width: 100vw;
  max-width: 100vw;
  padding: 0;
  margin: 0;
  background-color: var(--background-color);
  color: var(--text-color);*/
}

html {
  /*height: 100%;*/
}

body > *, div {
  box-sizing: border-box;
}

.grid {
  display: grid;
}

.basic-padding {
  padding: 8px;
}

.basic-margin, .row-input {
  margin: 8px;
}

.row-input {
  display: block;
}

.clickable {
  cursor: pointer;
}

.mat-form-field {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}

/* Chromium */
::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-track {
  height: 5px;
  background: var(--box-color);
}

::-webkit-scrollbar-thumb {
  height: 5px;
  background: whitesmoke;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--box-color) var(--background-color);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
